<?xml version="1.0"?>
<config>
  <modules>
    <Cpcoder_Dbm>
      <version>0.1.0</version>
    </Cpcoder_Dbm>
  </modules>
  <global>
    <models>
      <Dbm>
        <class>Cpcoder_Dbm_Model</class>
      </Dbm>
    </models>
    <helpers>
      <Dbm>
        <class>Cpcoder_Dbm_Helper</class>
      </Dbm>
    </helpers>
    <blocks>
      <Dbm>
        <class>Cpcoder_Dbm_Block</class>
      </Dbm>
    </blocks>
  </global>
  <default>
    <payment>
      <Dbm>
        <model>Dbm/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>DBBL MOBILE TITLE </title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </Dbm>
    </payment>
  </default>
  <frontend>
    <routers>
      <Dbm>
        <use>standard</use>
        <args>
          <module>Cpcoder_Dbm</module>
          <frontName>dbm</frontName>
        </args>
      </Dbm>
    </routers>
		<layout>
            <updates>
                <Dbm>
                    <file>cpdbm.xml</file>
                </Dbm>
            </updates>
        </layout>
  </frontend>
</config>
